@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

h1 {
    margin: 0px;
    padding: 0px;
    margin-block: 0;
    font-family: "Pinyon Script", cursive;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #9c4d95;
}

h2 {
    margin-top: 10px;
    padding: 0;
    margin-block: 0;
    font-family: "STIX Two Text", serif;
    font-size: 25px;;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

a, b {
    color: #9c4d95;
}

a:hover {
    text-decoration: underline;
}

.contactme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.footer {
    display: flex;
    justify-content: center;
}

.mobile-greeting-split {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.introduction-container p{
    font-family: "Inter";
    color: #333333;
    line-height: 20px;
}

.personal-photos-container {
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
}

.personal-photos-container img {
    width: 60vw;
}

.introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    margin-top: 8%;
    margin-left: 14%;
}

.introduction-container img {
    width: 25vw;
}

.introduction-text {
    margin-top: 6%;
    margin-right: 20%;
}

.intro-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4px;
}

.mobile-greeting-split h1 {
    margin-left: 7px;
    margin-right: 3px;
}

.greeting-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: baseline;
    margin-top: 6%;
}

.job-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    background-image: url('../../assets/images/leading-line.png');
    background-size: cover;
    margin-bottom: 5vh;
    z-index: -2;
    padding-bottom: 15vh;
    margin-top: 10vh;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.experience-title {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-container.first {
    padding-right: 15vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.experience-container.second {
    padding-left: 15vw;
}

.experience-container img {
    width: 35vw;
    z-index: -1;
}
