@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

@media only screen and (max-width: 768px) {
    h1 {
        margin: 0px;
        padding: 0px;
        margin-block: 0;
        font-family: "Pinyon Script", cursive;
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        color: #9c4d95;
    }
    
    h2 {
        margin-top: 10px;
        padding: 0;
        margin-block: 0;
        font-family: "STIX Two Text", serif;
        font-size: 25px;;
        font-weight: 400;
        font-style: normal;
        color: #333333;
    }
    
    a, b {
        color: #9c4d95;
    }
    
    a:hover {
        text-decoration: underline;
    }

    .contactme-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0vh;
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    .header-sticky {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: white;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 2;
    }

    .title-container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .footer {
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }

    .greeting-text.en {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20%;
        padding: 0px;
        gap: 5px;
        align-items: baseline;
    }

    .greeting-text.fr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        padding: 0px;
        gap: 0px;
        line-height: 25px;
    }

    .mobile-greeting-split {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .intro-body.en {
        margin-left: 10%;
        width: 120%
    }
    
    .intro-body.fr {
        margin-left: 10%;
        width: 120%;
    }

    .introduction-container p{
        font-family: "Inter";
        font-size: 14px;
        color: #333333;
        margin-left: 5px;
        line-height: 120%;
    }

    .introduction-container a:hover {
        text-decoration: underline;
    }

    .personal-photos-container {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 10%;
    }

    .personal-photos-container img {
        width: 95vw;
    }

    .greeting-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 20%;
        width: 100%;
    }

    .introduction-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0vw;
        margin-top: 3vh;
        margin-left: 10%;
        margin-right: 10%;
    }

    .introduction-container img {
        width: 40vw;
        margin-left: 10%;
    }

    .introduction-text {
        margin-top: 30px;
    }

    .intro-title.fr {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        gap: 4px;
    }

    .intro-title {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-top: 5%;
        gap: 4px;
        align-items: baseline;
    }

    .job-experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: cover;
        background-image: url('../../assets/images/leading-line.png');
        background-size: cover;
        margin-bottom: 5vh;
        z-index: -2;
        padding-bottom: 15vh;
        margin-top: 10vh;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .experience-title {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    .experience-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .experience-container.first {
        padding-right: 15vw;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }

    .experience-container.second {
        padding-left: 15vw;
    }

    .experience-container img {
        width: 35vw;
        z-index: -1;
    }

    .introduction-container,
    .greeting-photos {
        opacity: 0;
        transform: translateY(40px);
    }
    .fade-in-up {
        opacity: 1;
        transform: translateY(0);
        animation: fadeInUp 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(40px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}