.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5%;
    z-index: 2;
}

/*grid pages section*/
.page-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lined-page {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-height: 800px;
    opacity: 1;
    transform: translateY(0);
}

.paper-bg {
    z-index: -2;
    position: absolute;
    height: 100%;
    max-width: 85%;
    margin-left: 10%;
    margin-top: 0px;
    top: 0;
}

.name-sketch {
    z-index: -1;
    height: 80%;
    margin-left: 3%;
    margin-top: 70px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.fade-in-up {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
