@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

.contactme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.footer {
    display: flex;
    justify-content: center;
}

.greeting-text h1{
    font-family: "Pinyon Script", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #9c4d95;
}

.greeting-text h2{
    padding-top: 3.5vh;
    font-family: "STIX Two Text", serif;
    font-size: 35px;;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #333333;
}


.introduction-container h1{
    font-family: "Pinyon Script", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #9c4d95;
}

.introduction-container h2{
    padding-top: 3.5vh;
    font-family: "STIX Two Text", serif;
    font-size: 35px;;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #333333;
}

.introduction-container p{
    font-family: "Inter";
    color: #333333;
    margin-left: 1vw;
    line-height: 2.5vh;
}

.introduction-container b {
    color: #9c4d95;
}

.introduction-container a{
    text-decoration: none;
    color: #9c4d95;
}

.introduction-container a:hover {
    text-decoration: underline;
}

.personal-photos-container {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.personal-photos-container img {
    width: 45vw;
}

.introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    margin-top: 10vh;
}

.introduction-container img {
    width: 25vw;
}

.introduction-text {
    margin-top: 3vh;
}

.intro-title {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.greeting-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

.job-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    object-fit: cover;
    background-image: url('../assets/images/leading-line.png');
    background-size: cover;
    height: 165vh;
}
