.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 60px;
    padding-bottom: none !important;
}

/*grid pages section*/
.page-container {
    margin-top: 210px;
    margin-bottom: 50px;
    margin-right: 40vh;
    margin-left: 35vh;
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 112.5vh;
    align-items: center;
    background-image: url('../assets/images/ripped-paper.png');
    background-size: cover;
}

.name-sketch {
    height: 100vh;
    padding-left:15%;
}

.greeting-text {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.greeting-text img {
    width: 25vw;
}

/*personal photos section*/
.personal-photos {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    height: 90vh;
    align-items: center;
    background-image: url('../assets/images/about-me-photos.png');
    background-size: cover;
}
