.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*grid pages section*/
.page-container {
    display: flex;
    justify-content: center;
    width: 98vw;
}

.lined-page {
    margin-right: 5vw;
    margin-top: 80px;
    margin-bottom: 90px;
    padding-right: 25vw;
    padding-left: 8vw;
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 20vw;
    height: 110vh;
    align-items: center;
    background-image: url('../assets/images/ripped-paper.png');
    background-size: cover;
}

.name-sketch {
    height: 80vh;
    padding-left:27vw;
    padding-bottom: 3vh;
}

.greeting-text {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.greeting-text img {
    width: 25vw;
}

/*personal photos section*/
.personal-photos {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    height: 90vh;
    align-items: center;
    background-image: url('../assets/images/about-me-photos.png');
    background-size: cover;
}

.footer {
    display: flex;
    justify-content: center;
}

.greeting-rows {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.greeting-rows h1{
    font-family: "Pinyon Script", cursive;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #9c4d95;
}

.greeting-rows p{
    padding-top: 2vh;
    font-family: "STIX Two Text", serif;
    font-size: 30px;;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #333333;
}