@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

.footer-container {
    display: flex;
    flex-direction: row;
    gap: 12vw;
    margin-left: 23vw;
    margin-right: 15vw;
    margin-bottom: 5vh;
    width: 95%;
    font-family: 'Inter';
    color: #333333;
}

.phone-image img {
    width: 20vw;
}

.sparkles-split {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.contact-text {
    display: flex;
    flex-direction: column;
}

.contact-title {
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    width: 25vw;
}

.contact-title h1{
    font-family: "Pinyon Script", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #9c4d95;
}

.contact-title p{
    padding-top: 2vh;
    font-family: "STIX Two Text", serif;
    font-size: 40px;;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #333333;
}

.contact-links {
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    font-family: "Inter";
    font-size: 20px;
    margin-top: 1vh;
}

.contact-links a {
    color: #333333;
    text-decoration: none;
}

.contact-links a:hover {
    color: #333333;
    text-decoration: underline;
}

.contact-links img {
    width: 1vw;
    margin-left: 4px;
}

.small-text {
    margin-top: 10vh;
    font-size: 15px;
    font-family: 'Inter';
    color: #333333;
}

.small-text p {
    margin-top: 4px;
    margin-bottom: 0px;
}

.sparkles {
    margin-left: 0px;
    margin-top: 18vh;;
}

.sparkles img {
    width: 5vw;
}
