.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    width: 100%;
    font-family: 'Inter';
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin-left: 17%;
}

.active-link {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 4vw;
}

.active-link img {
    padding-top: 3px;
    height: 1.7vh;
    width: 4vw;
}

.active-link.projects img {
    padding-top: 3px;
    height: 1.7vh;
    width: 3.3vw;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    margin-right: 15%;
}

.header-right p {
    margin: 0px;
}

.language-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.language-col {
    display: flex;
    flex-direction: column;
    width: 7vw;
}

.underline {
    height: 1.7vh;
    width: 2.25vw;
    padding-left: 3px;
}

.english-switch {
    color: white;
    background-color: white;
    outline: none;
    border: none;
}

.english-switch img{
    height: 2.5vh;
}

.french-switch {
    color: white;
    background-color: white;
    outline: none;
    border: none;
}

.french-switch img{
    height: 2.5vh;
}