.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    width: 100%;
    font-family: 'Inter';
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin-left: 17%;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    margin-right: 15%;
}

.header-right p {
    margin: 0px;
}

.language-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}