.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 95%;
    font-family: 'Inter';
    color: #333333;
}

.phone-image img {
    width: 250px;
    margin-right: 15px;
}

.sparkles-split {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.contact-text {
    display: flex;
    flex-direction: column;
}

.contact-title {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}

.contact-title h1{
    font-family: "Pinyon Script", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-top: 0px;
    color: #9c4d95;
    line-height: 50px;
}

.contact-title p{
    padding-top: 15px;
    font-family: "STIX Two Text", serif;
    font-size: 35px;;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    color: #333333;
}

.contact-links {
    margin-left: 1px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: "Inter";
}

.contact-links a {
    color: #333333;
    text-decoration: none;
}

.contact-links a:hover {
    color: #333333;
    text-decoration: underline;
}

.contact-links img {
    width: 15px;
    margin-left: 4px;
}

.small-text {
    font-size: 11px;
    font-family: 'Inter';
    color: #333333;
    margin-top: 20%;
}

.small-text p {
    margin-top: 4px;
    margin-bottom: 0px;
    line-height: 15px
}

.sparkles.en {
    margin-left: 40px;
    margin-top: 23%;
}

.sparkles.fr {
    margin-left: 10px;
    margin-top: 20%;
}

.sparkles.en img {
    width: 70px;
}  

.sparkles.fr img {
    width: 70px;
}  